<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <form #authForm="ngForm" (ngSubmit)="onSubmitAuthForm(authForm)" *ngIf="!isLoading && !isEnterOtp">
            <h1>Register through Mobile</h1>
            <div class="form-group">
                <label for="mobile">Enter your mobile number</label>
                <input
                  type="text"
                  id="mobile"
                  class="form-control"
                  ngModel
                  name="mobile"
                  required
                  maxlength="10"
                  minlength="10"
                  (keydown)="validateNumber($event)"
                >
            </div>
            <div>
                <span style="font-size: small; color: darkred;" *ngIf="Submiterror">{{ Submiterror }}</span>
            </div>
            <div style=" align-content: center;">
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!authForm.valid"
                >Sign In
                </button>
            </div>
        </form>
        <form #otpForm = "ngForm" (ngSubmit) = "onSubmitOtpForm(otpForm)" *ngIf="isEnterOtp">
            <h1>Register through Mobile</h1><br>
            <span style="font-size: small; color: darkred;">{{ actionMessage }}</span>
            <div class="form-group">
                <input
                    type="text"
                    required
                    pattern="[\d]"
                    name="otp"
                    ngModel
                    minlength="6"
                    maxlength="6"
                    class="form-control"
                    id="otp"
                    placeholder="Enter OTP"
                    (keydown)="validateNumber($event)"
                ><br>
                <div>
                    <span style="font-size: small; color: darkred;" *ngIf="OtpError">{{ OtpError }}</span>
                </div>
                <div >
                    <button
                     class="btn btn-primary"
                     type="submit"
                    >Validate & Proceed</button>
                </div>
            </div>
        </form>
    </div>
</div>
