<div class="container col-md-9 col-md-offset-2">
<div class="jumbotron home-spacer">
    <h2>Download your vaccination certificate</h2>
    <h4>Please follow the instructions mentioned below to download your vaccination certificate.</h4>
</div>
<hr>
<div>
    <p>In case you are unable to find the beneficiary id, please look into your inbox with a similar message shown below in the image</p>
    <br>
    <img src="assets/img/bnf_id.jpeg" class="img-responsive" alt="bnf_id" style="max-height: 200px;">
</div>
<form style="margin-top: 12px;margin-bottom: 120px;" #p="ngForm" (ngSubmit) = "onGetCertificate(p)" class="col-md-6">
    <div class="form-group">
        <label for="bnf_id">Enter beneficiary ID</label>
        <input
          type="text"
          required
          ngModel
          name="bnf_id"
          class="form-control"
          pattern = "^[1-9]+[0-9]*$"
        >
    </div>
    <br>
    <button 
     type="submit" 
     class="btn btn-primary"
     [disabled] = "!p.valid"
     >Download</button>
</form>
</div>