<div class="container" id="content">
    <div class="jumbotron home-spacer" id="products-jumbotron">
        <h2>Welcome to Co-win Public API portal</h2>
        <p>We are all in this together.</p>
    </div>
    <hr><br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" [ngClass]="{'active': isVisible=='1'}">
            <input type="radio" name="isVisible" [(ngModel)]="isVisible" [value]="1" [checked]="isSelected">Search By
            District
        </label>
        <label class="btn btn-secondary" [ngClass]="{'active': isVisible=='0'}">
            <input type="radio" name="isVisible" [(ngModel)]="isVisible" [value]="0" [checked]="!isSelected">Search By
            Pin
        </label>
    </div><br>
    <form #districtForm="ngForm" *ngIf="isVisible=='1'" (ngSubmit)="onSearchByDistrict(districtForm)" class="col-md-6">
        <div class="form-group">
            <label for="state">Select state</label>
            <select (change)="onStateSelected($event.target.value)" class="form-control" name="state" ngModel>
                <option *ngFor="let state of states.states" value="{{state.state_id}}">{{state.state_name}}</option>
            </select>
        </div>
        <div *ngIf="stateSelected">
            <div class="form-group" >
                <label for="district">Select district</label>
                <select (change)="onDistrictSelected($event.target.value)" class="form-control" name="district" ngModel>
                    <option *ngFor="let district of districtsList.districts" value="{{district.district_id}}">{{district.district_name}}</option>
                </select>
            </div>
            <div class="form-group" >
                <my-datepicker (dateEmitter)="onDateSelected($event)"></my-datepicker>
            </div>
            <button [disabled] = "!districtForm.valid" type="submit" class="btn btn-primary">Search</button>
        </div><br>
    </form>
    <form #pinCodeForm="ngForm" *ngIf="isVisible=='0'" (ngSubmit) = "onSearchByPinCode(pinCodeForm)" class="col-md-6">
        <div class="form-group">
            <label for="pincode">Enter pincode</label>
            <input
              type="text"
              required
              ngModel
              name="pincode"
              class="form-control"
              pattern = "^[1-9]+[0-9]{5}$"
              minlength="6"
            >
        </div>
        <div class="form-group">
            <my-datepicker (dateEmitter)="onDateSelected($event)"></my-datepicker>
        </div>
        <button 
         type="submit" 
         class="btn btn-primary"
         [disabled] = "!pinCodeForm.valid"
         >Search</button><br>
    </form>
    <div *ngIf="sessionFetched">
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="row">
            <div class="col-md-10">
                <app-session
                 *ngFor = "let sessionEl of sessions.sessions | paginate:{
                     id:'session_pagination',
                     itemsPerPage: 10,
                     currentPage: page,
                     totalItems:totalRecords
                 }"
                 [session] = 'sessionEl'
                ></app-session>
                <br>
                <div style="margin-bottom: 120px;">
                    <pagination-controls id="session_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>